.rating-wrapper

  width: 20px;
  height: 200px;
  .ratings-item
    display: flex;
    border-bottom :1px solid rgba(7,17,27,0.2)
    &:last-child
      padding-bottom: 50px;
    .avator
      flex: 0 0 20px;
      padding-top: 20px;
    .content
      flex: 1
      .info
        padding 0;
        .time
          padding-right 4px;
          float: right
      .contentinfo
        span
          word-break: normal;
          width: auto;
          display: block;
          white-space: pre-wrap;
          word-wrap: break-word;
          overflow: hidden;


