@import "../../common/stylus/mixin"
.ratings
  position absolute;
  top: 174px;
  bottom: 0;
  left: 0;
  width: 100%
  overflow: hidden
  .overview
    color: red
    display: flex;
    padding: 18px 0;
    .overview-left
      flex: 0 0 120px;
      padding: 6px 0;
      width: 137px;
      boder-left: 1px solid rgba(7, 17, 27, 0.1)
      text-align center;
      @media only screen and (max-width: 320px)
        flex: 0 0 120px;
        width: 120px;
      .score
        margin-bottom 6px;
        line-height: 28px;
        font-size: 24px;
        color: rgb(255, 133, 0);
      .title
        margin-bottom: 8px;
        line-height: 28px;
        font-size: 24px;
        color: rgb(7, 17, 27)
      .rank

        line-height: 10px;
        font-size: 10px;
        color: rgb(147, 153, 139);
    .overview-right
      flex: 1
      padding-left: 3px;
      .scroe-wrapper
        line-height 8px;
        margin-bottom 18px;
        font-size: 0
        .title
          font-size: 12px;
          color: rgb(7, 17, 27);
        .star
          display inline;
          margin-left 10px;
          vertical-align top;
          font-size: 12px;
        .score
          vertical-align top;
          font-size: 12px;
          color: red
      .delivery-wrapper
        .delivery
          color: rgb(147, 153, 139)
  .ratings-wrapper
    .rating-item
      display flex;
      margin: 4px 0;
      border-1px(rgba(7, 17, 27, 0.2))
      .avatar
        flex 0 0 40px;
        img
          border-radius 50%;
      .ratinginfo
        flex 1;
        margin-bottom 14px;
        .capt
          position relative;
          .name
            margin-bottom 4px;
            line-height 12px;
            font-size: 10px;
            color rgb(7, 17, 27);

          .ratetime
            margin-bottom 14px;
            position: absolute;
            top: 0;
            right 2px;
        .text-info
          .icon-thumb_down, icon-thumb_up
            margin-bottom: 10px;
        .star-warpper
          margin-bottom 6px;
          font-size: 0;
          .star, deliverytime
            display: inline-block;
            vertical-align: top;
          .star
            margin-right 6px;
          .deliverytime
            line-height 12px;
            font-size: 10px;
            color rgb(147, 153, 27);
        .recommend
          margin: 8px 0;
          line-height 16px;
          .icon-thumb_up, item
            display: inline-block;
            margin: 0 8px 10px 0;
            font-size: 12px;
          .icon-thumb_up
            color: rgb(0, 160, 220);
          .item
            padding: 0 6px;
            border: 1px solid rgba(7, 17, 27, 0.1);
            border-radius: 5px;
            color rgb(147, 153, 159);
            background-color: white;
