.rat
  width: 100%
  margin-top: 10px;
  height: 16px;
  bottom: 32px
  border-top: 2px solid rgba(219, 219, 219, 0.2)
  border-bottom: 2px solid rgba(219, 219, 219, 0.2)
  background-color: rgba(222, 222, 222, 0.2)
