@font-face
  font-family: 'sell-icon'
  src:  url('../fonts/sell-icon.eot?ts87e4')
  src:  url('../fonts/sell-icon.eot?ts87e4#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?ts87e4') format('truetype'),
    url('../fonts/sell-icon.woff?ts87e4') format('woff'),
    url('../fonts/sell-icon.svg?ts87e4#sell-icon') format('svg');
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-heart:before
  content: "\e9da"

.icon-point-up:before
  content: "\ea03"

.icon-point-down:before
  content: "\ea05"

.icon-plus:before
  content: "\ea0a"

.icon-minus:before
  content: "\ea0b"

.icon-cross:before
  content: "\ea0f";

.icon-checkmark:before
  content: "\ea10"

.icon-circle-right:before
  content: "\ea42"

.icon-circle-left:before
  content: "\ea44"

