.rating-wrapper
  .ratings-item
    position :relative
    .time
      display :block;
      color: rgb(147, 153, 159)
      font-size: 20px;
      line-height: 24px;
      float:left;
    .user
      position :absolute
      right 10px;
      top:0;
    .text
      display block;

